header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(7, 7, 7);
  align-items: center;
  gap: 100px;
  height: 100px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

}

header.scrolled {
  background: none;  
  background-color: rgba(134, 134, 134, 0.932); 
  backdrop-filter: blur(6px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}

li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}
li a:hover {
    color: #e00b0b;
    text-decoration: underline;
}


.avatar {
    width: 60px;   
    height: 60px;
    
}
.Search {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    width: 50px;             
    transition: all 0.7s ease;
}

.Search:hover,
.Search:focus {
    width: 250px;            
    border-color: #dd0d0d;    
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

#Log-in {
    color: #f31414;
    font-size: 30px;
    text-decoration: none;
}

#Log-in:hover{
    text-decoration: none;
    color: #dd0d0d;
}